h1 {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav a {
  color: rgb(47, 47, 47);
  margin: 0 25px;
} 

.nav-link i {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 10);
}

