:root {
  --gunmetal: #2f323aff;
  --cool-gray: #8d909bff;
  --cool-gray-2: #aaadc4ff;
  --columbia-blue: #d6eeffff;
  --red-pantone: #e71d36ff;
}

h1 {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav a {
  color: rgb(47, 47, 47);
  margin: 0 25px;
}