:root {
  --gunmetal: #2f323aff;
  --cool-gray: #8d909bff;
  --cool-gray-2: #aaadc4ff;
  --columbia-blue: #d6eeffff;
  --red-pantone: #e71d36ff;
  --font-inter: 'Inter', sans-serif;;
  --font-weight: 300;
}

body {
  background-color: var(--gunmetal);
  color: #fff;
  font-family: var(--font-inter);
  font-weight: var(--font-weight);
}

h1 {
  display: flex;
  justify-content: center;
}

thead > tr {
  background-color: #3b3d45;
}

tr:hover {
  background-color: #3b3d45;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav a {
  color: var(--red-pantone);
  margin: 0 25px;
} 

.nav a p {
  color: #fff;
}

.nav a i {
  color: #595c64;
}

.nav a i:hover {
  color: #fff;
}

.red-heart {
  color: var(--red-pantone);
}